@font-face {
  font-family: "bebas_neueregular";
  src:
    url("./fonts/bebasneue-regular-webfont.woff2") format("woff2"),
    url("./fonts/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "afacadregular";
  src:
    url("./fonts/afacad-variablefont_wght-webfont.woff2") format("woff2"),
    url("./fonts/afacad-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  /* border: 0.1px solid red; */
}

:root {
  --background-width: max(30vw, 200px);
  --main-width: max(50vw, 350px);
  --content-width: calc(var(--background-width) + var(--main-width));

  --page-height: max(100vh, 600px);
  --header-height: max(30%, calc(0.3 * var(--page-height)));
  --submission-height: max(35%, calc(0.35 * var(--page-height)));
  --form-height: calc(100% - var(--header-height) - var(--submission-height));

  --backdrop-color: #029ccf;
  --error-color: #fd3f3f;
  --hover-color: #f0b924;
  --box-shadow-effect: 0px 2px 5px rgb(0 0 0 / 20%);

  --main-padding-left: 3vw;
  --main-padding-right: 10vw;
}

body {
  display: flex;
  justify-content: center;

  background-color: #000;

  height: var(--page-height);
  width: 100vw;
  margin: 0;
}

section.background {
  background-color: var(--backdrop-color);
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;

  height: 100%;
  width: var(--background-width);
  margin: none;
  padding: none;
}

section.background div.logo-container {
  --logo-container-height: max(3rem, 8vw);

  display: flex;
  align-items: center;
  gap: 6%;

  background-color: rgb(0 0 0 / 40%);

  height: var(--logo-container-height);
  padding: 0 1vw;
  margin-top: calc(var(--header-height) - var(--logo-container-height));
}

section.background div.logo-container img {
  height: 80%;
}

section.background div.logo-container p {
  font-family: bebas_neueregular, sans-serif;
  font-size: clamp(0.60rem, 1.8vw, 2.2rem);
  -webkit-text-stroke: 0.5px #000;
  letter-spacing: 0.8px;
  color: #fff;
  text-align: center;

  margin: 0;
}

main {
  font-family: afacadregular, sans-serif;
  background-color: #f7f7f7;

  height: var(--page-height);
  width: var(--main-width);
}

main header {
  font-size: clamp(0.7rem, 1.6vw, 2rem);
  font-weight: 680;

  height: var(--header-height);
  width: 100%;
  padding: 5vh var(--main-padding-right) 0vh var(--main-padding-left);
}

section.sign-up {
  background-color: #fff;
  color: rgb(0 0 0 / 60%);
  box-shadow: var(--box-shadow-effect);

  height: var(--form-height);
  width: 100%;
  padding: 1vh var(--main-padding-right) 3vh var(--main-padding-left);
}

section.sign-up > p {
  font-size: clamp(0.9rem, 1.6vw, 2rem);
  font-weight: bold;
}

section.sign-up form {
  font-family: bebas_neueregular, sans-serif;

  margin: 0;
}

section.sign-up div.form-row-container {
  display: flex;
  gap: 5%;

  padding: 1.2vh 0vh;
}

section.sign-up p.form-element-container {
  flex-grow: 1;

  margin-top: 0vh;
  margin-bottom: 0vh;
}

section.sign-up form label {
  display: block;

  font-family: inherit;
  font-size: clamp(0.7rem, 1.1vw, 1rem);
  color: inherit;
  letter-spacing: 0.05rem;

  width: 80%;
}

section.sign-up form input {
  border: 0.08rem solid rgb(0 0 0 / 20%);
  border-radius: 2px;
  outline: none;

  width: 80%;
}

section.sign-up form input.error {
  outline: none;
  border: 0.08rem solid var(--error-color);
}

section.sign-up form input:focus {
  outline: none;
  border: 0.08rem solid var(--backdrop-color);
  box-shadow: var(--box-shadow-effect);
}

section.sign-up form input:hover {
  border: 0.08rem solid var(--hover-color);
}

section.submission {
  height: var(--submission-height);
  width: 100%;
  padding: 4vh var(--main-padding-right) 2vh var(--main-padding-left);
}

section.submission button {
  background-color: var(--backdrop-color);
  color: #fff;
  font-family: inherit;
  font-size: clamp(0.7rem, 1.3vw, 1.2rem);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-effect);

  cursor: pointer;

  padding: clamp(0.6rem, 0.9vw, 1.2rem) clamp(1rem, 2.8vw, 2.0rem);
}

section.submission button:hover {
  color: var(--hover-color);
  box-shadow: 0px 2px 5px var(--backdrop-color);
}

section.submission p {
  font-family: inherit;
  font-size: clamp(0.7rem, 1.3vw, 1.2rem);

  margin-top: 3vh;
}
section.submission a {
  color: var(--backdrop-color);
  text-decoration: none;
}

section.submission a:hover {
  color: var(--hover-color);
}
